<ion-header>
  <ion-toolbar>
  	<ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Recebendo Dados</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content padding>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Cadastro de</ion-card-subtitle>
			<ion-card-title>{{nome}}</ion-card-title>
		</ion-card-header>
		<ion-item>
			<ion-icon name="mail" slot="start"></ion-icon>
			<ion-card-content>{{email}}</ion-card-content>
		</ion-item>
		<ion-item>
			<ion-icon name="calendar" slot="start"></ion-icon>
			<ion-card-content>{{nasc|date:'dd/MM/yyyy'}}</ion-card-content>
		</ion-item>
		<ion-item>
			<ion-icon name="transgender" slot="start"></ion-icon>
			<ion-card-content>{{sexo}}</ion-card-content>
		</ion-item>
	</ion-card>
</ion-content>
